@import "./reset.css";

:root {
  --color-main: #8dd7cf;
  --color-button: #6558f5;
  --color-button-hover: #2210f0;
  --color-yellow: #fbe192;
}

body {
  margin-bottom: 90px;
}
button {
  background: none;
  color: white;
  background-color: var(--color-button);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-button-hover);
}
